.main{
    width: 100%;
}
.first{
    background-color: #A5F3F9;
    border-radius: 20px;
}
.second{
    background-color: #DCA5F9;
    border-radius: 20px;
    color:#ED52F7;
}
.videoplayer{
    height: 400px;
    border-radius: 20px;
}
.footer{
    background-image: linear-gradient(#940FF0,#092DBF);
}
.image2{
    height: 40px;
}
.image3{
    height: 60px;
}
.icones{
    margin-left: 20px;
    height: 30px;
    width:30px;
    
}