.main{

    height:100vh;
}
.first{
    background-image: linear-gradient(#B387E7,#6E17D6);
    background-size: cover;
    
    
    margin: 0px;
    
}
.timeline{
    width: 25px;
    height: 25px;
}
.MuiInputLabel-root {
    font-size: 25px !important;
    padding-bottom: 20px !important;
    
  }
  
  .MuiInput-root {
    height: 35px !important;
    
  }
  .buttonfinal{
    font-size: 20px;
  }
  .leftside{
    border: black solid 2px;
    border-radius: 15px 0px 0px 15px;
    font-size: 15px;
    color: black;
    width: 60px;
  }
  .rightside{
    border: black solid 2px;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    font-size: 15px;
    color: black;
    width: 60px;
  }
  .middle{
    border: black solid 2px;
    border-radius: 0px;
    font-size: 15px;
    color: black;
    width: 60px;
    border-left: none;
    

  }
  .rightsidelong{
    border: black solid 2px;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    font-size: 15px;
    color: black;
    width: 140px;
  }